doctype html 
html
    head
        title Saksham Dance Academy
        block scripts
        block style
    body
        nav#navbar
            ul
                div#logo
                    img(src="/static/logo1.png")
                    h4 SDA
                li #[a(href='/') Home] 
                li #[a(href='/') About ]
                li #[a(href='/') Services]
                li #[a(href='/') Class Info] 
                li #[a(href='/contact') Contact Us ]
        block content
        footer#footer 
            | Copyright © 2021 Sakshamacademy.com | All Rights Reserved   