extends base.pug
block scripts   
    scripts(src='/static/index.js')
block style 
    style 
            include ../static/style.css 

block content 
        section#introSection 
            div Welcome to Saksham's Dance Academy
            div.small Eat Sleep Dance Repeat
        section#mission 
            h2 Our mission
            div.card
                h3   Dance Perfection
                div.card-box
                    div.card-img 
                        img(src="/static/dance1.png", alt="")
                    div.card-content
                        p This is the best dance academy of the universe

            div.card
                h3   Dance live 
                div.card-box
                    div.card-img 
                        img(src="/static/dance2.png", alt="")
                    div.card-content
                        p This is the best dance academy of the universe
            div.card
                h3   Expert Teaching  
                div.card-box
                    div.card-img 
                        img(src="/static/dance3.png" )
                    div.card-content
                        p This is the best dance academy of the universe
        section#sponcersSection 
            h2 Our Sponcers 
            div#sponcers
                img(src="/static/apple.png", alt="Sponcer image",class="spimage")
                img(src="/static/microsoft.png", alt="Sponcer image",class="spimage")
                img(src="/static/hp.png", alt="Sponcer image",class="spimage")
                img(src="/static/skype.png", alt="Sponcer image",class="spimage")   